[package]
name = "restate-sdk"
version = "0.0.1"
edition = "2021"

[features]
default = ["http"]
http = ["hyper", "http-body-util", "hyper-util", "tokio/net", "tokio/signal", "restate-sdk-shared-core/http"]

[dependencies]
bytes = "1.6.1"
futures = "0.3"
http-body-util = { version = "0.1", optional = true }
hyper = { version = "1.4.1", optional = true, features = ["server", "http2"] }
hyper-util = { version = "0.1", features = ["tokio", "server", "server-graceful", "http2"], optional = true }
pin-project-lite = "0.2"
regress = "0.10"
restate-sdk-derive = { version = "0.0.1", path = "derive" }
restate-sdk-shared-core = { path = "../sdk-shared-core" }
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0.63"
tokio = { version = "1", default-features = false, features = ["sync", "macros"] }
tower-service = "0.3"
tracing = "0.1"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
tracing-subscriber = "0.3"
trybuild = "1.0"

[build-dependencies]
jsonptr = "0.5.1"
prettyplease = "0.2"
serde_json = { version = "1.0" }
syn = "2.0"
typify = { version = "0.1.0" }

[workspace]
members = ["derive"]
